<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<menuitem id="menu_window_jasper_report" action="act_window_jasper_report"
		parent="base.reporting_menuitem" sequence="11" />
	<menuitem id="menu_jasper_report_run" action="act_window_jasper_report_run"
		parent="base.reporting_menuitem" sequence="12" />

</odoo>